<h1>Books</h1>
<div class="index-p">
  <p><b>title</b></p>
  <p>リーダブルコード</p>
  <p>トラブル知らずのシステム設計</p>
  <p>たのしいRuby</p>
  <p>入門Git</p>
  <p>アルゴリズム図鑑</p>
  <p>達人プログラマー</p>
  <p>データベース実践入門</p>
</div>

<div class="index-p">
  <p><b>Body</b></p>
  <p>より良いコードを書くためのシンプルで実践的なテクニック</p>
  <p>システム設計の要点を図解で説明してくれます</p>
  <p>Rubyの入門におすすめです</p>
  <p>gitについての基本操作から内部構造まで解説してくれます</p>
  <p>アルゴリズムについてカラーイラストでしっかり解説してくれます</p>
  <p>プログラマ入門者は必読!</p>
  <p>効率的なSQL文を教えてくれます</p>
</div>

<